body {
  display: flex;
}

.logo {
  border: 1px solid;
}

.main {
  border: 1px solid;
}

.lists {
  display: flex;
  border: 1px solid;
}

footer {
  border: 1px solid;
}

.navbar {
  border: 1px solid;
}
