
@font-face {
  font-family: BadHandwriting;
  src: url(https://www.stockio.com/free-font/bad-handwriting);
}

body {
  display: flex;
  height: fit-content;
  padding-bottom: 50%;
  position: relative;
  background-color: green;
  color: purple;
  font-family: "Serif", "Times New Roman", monospace;
}

.pic{
  max-height: 300px;
  object-fit: contain;
}

.logo {
  border: 1px solid;
  flex: 20%;
}

.main {
  border: 1px solid;
  flex: 20%;
}

.lists {
  display: flex;
  border: 1px solid;
}

footer {
  border: 1px solid;
}

.navbar {
  border: 1px solid;
  flex: 20%;
}

.cityList{
  background-color: pink;
  position: relative;
  top: 0; left: 0;
}

.landmarksList{
  background-color: turquoise;
  position: relative;
  top: 0; left: 0;
}

.famousCitizensList{
  background-color: orange;
  position: relative;
  top: 0; left: 0;
}

.city{
  margin: 1em;
  padding: 1em;
  border: 20px dashed yellow;
}

.landmarks{
  margin: 1em;
  padding: 1em;
  border: 20px dashed yellow;
}

.citizen{
  margin: 1em;
  padding: 1em;
  border: 20px dashed yellow;
}

.gaudy-wrapper {
    width: 100vw;
    height: 100vh;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  
  p, .nav-link {
    font-family: "Comic Sans MS", "Comic Sans", "Marker Felt", "Patrick Hand", cursive;
    font-size: 2em;
    margin: 0;
  }
  

  .title {
    font-family: "Comic Sans MS", "Comic Sans", "Marker Felt", "Patrick Hand", cursive;
    font-size: 11em;
    margin: 0;
  }
  
  .letter0 {
    color: #1eeeee;
    position: relative;
    animation: colorful-sine 2s linear infinite;
  }
  
  .letter1 {
    color: #e421ae;
    position: relative;
    animation: colorful-sine 2s -1.75s linear infinite;
  }
  
  .letter2 {
    color: #fae52c;
    position: relative;
    animation: colorful-sine 2s -1.5s linear infinite;
  }
  
  .letter3 {
    color: #5edf87;
    position: relative;
    animation: colorful-sine 2s -1.25s linear infinite;
  }
  
  .letter4 {
    color: #279cf1;
    position: relative;
    animation: colorful-sine 2s -1s linear infinite;
  }
  .letter5 {
    color: #1eeeee;
    position: relative;
    animation: colorful-sine 2s -0.75s linear infinite;
  }
  
  .letter6 {
    color: #e421ae;
    position: relative;
    animation: colorful-sine 2s -.5s linear infinite;
  }
  
  .letter7 {
    color: #fae52c;
    position: relative;
    animation: colorful-sine 2s -.25s linear infinite;
  }
  
  .letter8 {
    color: #5edf87;
    position: relative;
    animation: colorful-sine 2s  linear infinite;
  }
  
  .letter9 {
    color: #279cf1;
    position: relative;
    animation: colorful-sine 2s -1s linear infinite;
  }
  
  /* The formula I used to calculate the top animation was -3cos(2pi*x). */
  
  @keyframes colorful-sine {
    0%, 100% {color: #1eeeee; top: -3vw;}
    5% {top: -2.853170vw;}
    10% {top: -2.427051vw;}
    15% {top: -1.763356vw;}
    20% {color: #279cf1; top: -0.927051vw;}
    25% {top: 0;}
    30% {top: 0.927051vw;}
    35% {top: 1.763356vw;}
    40% {color: #5edf87; top: 2.427051vw;}
    45% {top: 2.853170vw;}
    50% {top: 3vw;}
    55% {top: 2.853170vw;}
    60% {color: #fae52c; top: 2.427051vw;}
    65% {top: 1.763356vw;}
    70% {top: 0.927051vw;}
    75% {top: 0;}
    80% {color: #e421ae; top: -0.927051vw;}
    85% {top: -1.763356vw;}
    90% {top: -2.427051vw;}
    95% {top: -2.853170vw;}
  }